<h3>DEN003-DANIOS-VEHICULO</h3>

<div
  *ngIf="urlImagen"
  class="mapdiv"
  [style.background-image]="'url(' + urlImagen + ')'"
>
  <svg width="500" height="300">
    <a
      *ngFor="let item of lstMapVehiculo"
      [attr.xlink:title]="item.descripcion"
      xlink:href="#"
    >
      <path
        id="path-{{ item.codigo }}"
        [attr.d]="'M' + item.coords + 'Z'"
        (click)="onClickSeccion($event)"
        [ngClass]="'danyos' + item.nivelDanyos"
      ></path>
    </a>
  </svg>
</div>

<hr />
<!-- Lista de secciones dañadas -->

<div class="tresColumnas">
  <div *ngFor="let item of danyosVehiculo.lstSeccionesDanyadas">
    <span [ngSwitch]="item.boolGravedadDanyo">
      <!-- Lista par seleccionar el nivel de daño de la sección -->
      <div *ngSwitchCase="true">
        {{ item.descripcion }} <br />
        <select
          id="sel-{{ item.codigo }}"
          [(ngModel)]="item.nivelDanyos"
          (change)="onChangeNivelDanyos($event)"
        >
          <option *ngFor="let item of VF14" [value]="item.codigo">
            {{ item.descripcion }}
          </option>
        </select>
      </div>
      <!-- Checkbox para marcar unicamente Si o No la seccion esta dañada -->
      <div *ngSwitchDefault>
        <label
          ><input
            type="checkbox"
            id="sel-{{ item.codigo }}"
            [(ngModel)]="item.seleccionado"
            (change)="onChangeCheck($event)"
          />
          {{ item.descripcion }}</label
        >
      </div>
    </span>
  </div>
</div>

<hr />
<!-- Contro de los datos introducidos-->
<div>
  <label for="sel-caracter-participacion"
    >Caracter participación en el siniestro:</label
  >
  <select
    id="sel-caracter-participacion"
    [(ngModel)]="danyosVehiculo.codCaracterParticipacion"
  >
    <option disabled value="">Seleccionar</option>
    <option *ngFor="let item of VF15" [value]="item.codigo">
      {{ item.descripcion }}
    </option>
  </select>
</div>
<div>
  <input [(ngModel)]="danyosVehiculo.desDanyosLibre" />
</div>

<!-- Contro de los datos introducidos-->
<hr />
<pre
  >{{ danyosVehiculo | json }} 
</pre>
