

.mapdiv {
    width: 500px;
    height: 300px;
    background-color: rgb(254, 210, 210);
}

/* .mapdiv path {
    fill:rgba(74, 3, 253, 0.448);
    stroke: blue;
    stroke-width: 3px;
    transition: fill 0.1s
} */



.danyosLeves {
    fill: rgba(255, 0, 0, 0.5);
    stroke: rgba(255, 0, 0, 0.75);
    stroke-width: 3px;
}

.danyosMedios {
    fill: rgba(255, 140, 0, 0.5);
    stroke: rgba(255, 140, 0, 0.75);
    stroke-width: 3px;
}

.danyosGraves {
    fill: rgba(255, 217, 0, 0.5);
    stroke: rgba(255, 217, 0, 0.75);
    stroke-width: 3px;
}

.danyosCristales {
    fill: rgba(149, 255, 0, 0.5);
    stroke: rgba(149, 255, 0, 0.75);
    stroke-width: 3px;
}


.mapdiv a :hover {
    fill:rgba(0, 255, 0, 0.45);
}